.colorme {color:#64b5f6;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #64b5f6;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#64b5f6;}
.flyout {border-top:2px solid #64b5f6;}
.sectiontitle {border-left: 4px solid #64b5f6;}
::-moz-selection{background:#64b5f6;color:#fff;}
::selection{background:#64b5f6;color:#fff;}
.ca-menu li:hover .ca-main {color: #64b5f6;}
.topborder { border-top:4px solid #64b5f6;}
.readmore {background:#64b5f6;}
 #subheader {background: #64b5f6;border-top: 1px solid #64b5f6; color: #fff;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#64b5f6;}
 #testimonials blockquote cite {color:#64b5f6;}
 .tags {background:#64b5f6;}
 ul.pagination li.current a {background: #64b5f6;}
.saymore {color:#64b5f6;}
.submit {background:#64b5f6;} 
dl.tabs dd.active { border-bottom: 3px solid #64b5f6;}
ul.accordion > li.active {border-top: 3px solid #64b5f6;}
div.alert-box.default { background-color: #64b5f6;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #64b5f6;}
.btn-slide {	background:#64b5f6 url(../../images/plus.png) no-repeat;}
.btn-slide.active { background: #64b5f6 url(../../images/minus.png) no-repeat;}
#footer {border-top:#64b5f6 4px solid;}
.back-top a:hover{background-color: #64b5f6;}
.sf-shadow ul {border-top:2px solid #64b5f6;}
.panel {border-left:4px solid #64b5f6;}
.colorbackground {background:#64b5f6;}
a.projectdetail { background: #64b5f6;opacity:0.8;}
a.projectdetail:hover { background: #64b5f6;opacity:1.0;}
#testimonials {border-left: solid 6px #64b5f6;}
.ei-title h2{background:#64b5f6;} 